@{
    ViewData["Title"] = "Profile";

    string pfp;
    if(string.IsNullOrEmpty(ViewBag.usuario.ProfilePicture)){
        pfp = "default.png";
    }
    else{
      pfp = ViewBag.usuario.ProfilePicture;
    }
}

<img src="~/img/profilePictures/@pfp" style="width:100px">

@if(ViewBag.me){
<form action="@Url.Action("SubirImagen","Home")" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/*" required/>
    <input type="hidden" name="returnUrl" value="@($"/Home/Profile?userId={ViewBag.usuario.Id}")" />
    <button type="submit">Subir</button>
  </form>
}
