USE [master]
GO
/****** Object:  Database [Indeura]    Script Date: 3/15/2026 1:11:23 PM ******/
CREATE DATABASE [Indeura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Indeura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Indeura.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Indeura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Indeura_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Indeura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Indeura]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Picture] [varchar](max) NULL,
	[IdGame] [int] NOT NULL,
 CONSTRAINT [PK_Achievement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFollower] [int] NOT NULL,
	[IdFollowed] [int] NOT NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPublisher] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[NumberOfAchievements] [int] NOT NULL,
	[GameName] [varchar](200) NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[PriceUSD] [decimal](18, 1) NOT NULL,
	[DiscountPercentage] [decimal](18, 1) NOT NULL,
	[ExecutableName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePictures]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](max) NOT NULL,
	[IdGame] [int] NOT NULL,
 CONSTRAINT [PK_GamePictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTags]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](300) NOT NULL,
 CONSTRAINT [PK_GameTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTagXGame]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTagXGame](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGame] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
 CONSTRAINT [PK_GameTagXGame] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdGame] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PlaytimeSeconds] [bigint] NOT NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdGame] [int] NOT NULL,
	[Rating] [decimal](18, 1) NOT NULL,
	[Description] [varchar](5000) NULL,
	[PlaytimeSecondsAtPublish] [bigint] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDeveloper] [bit] NOT NULL,
	[Followers] [int] NOT NULL,
	[GamesOwned] [int] NOT NULL,
	[Followed] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ProfilePicture] [varchar](max) NULL,
	[Description] [varchar](300) NULL,
	[Email] [varchar](200) NOT NULL,
	[PasswordHash] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserXAchievement]    Script Date: 3/15/2026 1:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserXAchievement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdAchievement] [int] NOT NULL,
 CONSTRAINT [PK_UserXAchievement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([Id], [IdPublisher], [Date], [NumberOfAchievements], [GameName], [Description], [PriceUSD], [DiscountPercentage], [ExecutableName]) VALUES (2, 3, CAST(N'2001-01-01' AS Date), 0, N'holasoyaleman', N'hola este es un juego muy bueno 12345678923456 34567 jaja xd', CAST(4.2 AS Decimal(18, 1)), CAST(0.0 AS Decimal(18, 1)), N'a')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[GamePictures] ON 

INSERT [dbo].[GamePictures] ([Id], [image], [IdGame]) VALUES (1, N'hola.jpeg', 2)
INSERT [dbo].[GamePictures] ([Id], [image], [IdGame]) VALUES (2, N'hola2.png', 2)
INSERT [dbo].[GamePictures] ([Id], [image], [IdGame]) VALUES (3, N'2IJV9M.png', 3)
SET IDENTITY_INSERT [dbo].[GamePictures] OFF
GO
SET IDENTITY_INSERT [dbo].[GameTags] ON 

INSERT [dbo].[GameTags] ([Id], [TagName]) VALUES (1, N'Horror')
INSERT [dbo].[GameTags] ([Id], [TagName]) VALUES (2, N'Horror Alemán')
INSERT [dbo].[GameTags] ([Id], [TagName]) VALUES (3, N'Alemanes')
SET IDENTITY_INSERT [dbo].[GameTags] OFF
GO
SET IDENTITY_INSERT [dbo].[GameTagXGame] ON 

INSERT [dbo].[GameTagXGame] ([Id], [IdGame], [IdTag]) VALUES (2, 2, 1)
INSERT [dbo].[GameTagXGame] ([Id], [IdGame], [IdTag]) VALUES (3, 2, 2)
INSERT [dbo].[GameTagXGame] ([Id], [IdGame], [IdTag]) VALUES (4, 2, 3)
SET IDENTITY_INSERT [dbo].[GameTagXGame] OFF
GO
SET IDENTITY_INSERT [dbo].[Ownership] ON 

INSERT [dbo].[Ownership] ([Id], [IdUser], [IdGame], [Date], [PlaytimeSeconds]) VALUES (10, 3, 2, CAST(N'2026-03-15' AS Date), 100)
INSERT [dbo].[Ownership] ([Id], [IdUser], [IdGame], [Date], [PlaytimeSeconds]) VALUES (14, 3, 3, CAST(N'2026-03-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Ownership] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([Id], [IdUser], [IdGame], [Rating], [Description], [PlaytimeSecondsAtPublish]) VALUES (1, 3, 2, CAST(5.0 AS Decimal(18, 1)), N'hola 123', 0)
INSERT [dbo].[Review] ([Id], [IdUser], [IdGame], [Rating], [Description], [PlaytimeSecondsAtPublish]) VALUES (2, 3, 3, CAST(5.0 AS Decimal(18, 1)), N'goty', 0)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [IsDeveloper], [Followers], [GamesOwned], [Followed], [UserName], [ProfilePicture], [Description], [Email], [PasswordHash]) VALUES (3, 0, 0, 5, 0, N'mandel', NULL, NULL, N'mandel@mandel', N'123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Achievement]  WITH CHECK ADD  CONSTRAINT [FK_Achievement_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK_Achievement_Game]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_User] FOREIGN KEY([IdFollower])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_User]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_User1] FOREIGN KEY([IdFollowed])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_User1]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_User] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_User]
GO
ALTER TABLE [dbo].[GamePictures]  WITH CHECK ADD  CONSTRAINT [FK_GamePictures_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GamePictures] CHECK CONSTRAINT [FK_GamePictures_Game]
GO
ALTER TABLE [dbo].[GameTagXGame]  WITH CHECK ADD  CONSTRAINT [FK_GameTagXGame_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GameTagXGame] CHECK CONSTRAINT [FK_GameTagXGame_Game]
GO
ALTER TABLE [dbo].[GameTagXGame]  WITH CHECK ADD  CONSTRAINT [FK_GameTagXGame_GameTags] FOREIGN KEY([IdTag])
REFERENCES [dbo].[GameTags] ([Id])
GO
ALTER TABLE [dbo].[GameTagXGame] CHECK CONSTRAINT [FK_GameTagXGame_GameTags]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Game]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_User]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Game]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[UserXAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserXAchievement_Achievement] FOREIGN KEY([IdAchievement])
REFERENCES [dbo].[Achievement] ([Id])
GO
ALTER TABLE [dbo].[UserXAchievement] CHECK CONSTRAINT [FK_UserXAchievement_Achievement]
GO
ALTER TABLE [dbo].[UserXAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserXAchievement_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserXAchievement] CHECK CONSTRAINT [FK_UserXAchievement_User]
GO
USE [master]
GO
