USE master
GO

IF DB_ID('Indeura') IS NOT NULL
    DROP DATABASE Indeura
GO

CREATE DATABASE Indeura
GO

USE Indeura
GO

-- TABLA USER
CREATE TABLE dbo.[User](
    Id INT IDENTITY(1,1) PRIMARY KEY,
    verifyHash VARCHAR(MAX) NULL,
    Followers INT NOT NULL,
    GamesOwned INT NOT NULL,
    Followed INT NOT NULL,
    UserName VARCHAR(50) NOT NULL,
    ProfilePicture VARCHAR(MAX) NULL,
    Description VARCHAR(300) NULL,
    Email VARCHAR(200) NOT NULL,
    PasswordHash VARCHAR(MAX) NOT NULL,
    Verified BIT NOT NULL
)
GO

-- TABLA GAME
CREATE TABLE dbo.Game(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdPublisher INT NOT NULL,
    Date DATE NOT NULL,
    NumberOfAchievements INT NOT NULL,
    GameName VARCHAR(200) NOT NULL,
    Description VARCHAR(5000) NOT NULL,
    PriceUSD DECIMAL(18,1) NOT NULL,
    DiscountPercentage DECIMAL(18,1) NOT NULL,
    ExecutableName VARCHAR(200) NOT NULL
)
GO

-- ACHIEVEMENT
CREATE TABLE dbo.Achievement(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name VARCHAR(MAX) NOT NULL,
    Description VARCHAR(MAX) NOT NULL,
    Picture VARCHAR(MAX) NULL,
    IdGame INT NOT NULL
)
GO

-- FOLLOW
CREATE TABLE dbo.Follow(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdFollower INT NOT NULL,
    IdFollowed INT NOT NULL
)
GO

-- GAME PICTURES
CREATE TABLE dbo.GamePictures(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Image VARCHAR(MAX) NOT NULL,
    IdGame INT NOT NULL
)
GO

-- TAGS
CREATE TABLE dbo.GameTags(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    TagName VARCHAR(300) NOT NULL
)
GO

-- TAG X GAME
CREATE TABLE dbo.GameTagXGame(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdGame INT NOT NULL,
    IdTag INT NOT NULL
)
GO

-- MALWARE
CREATE TABLE dbo.MalwareScan(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    GameId INT NOT NULL,
    TempPath VARCHAR(MAX) NOT NULL,
    AnalysisId VARCHAR(MAX) NOT NULL,
    Status VARCHAR(300) NOT NULL
)
GO

-- OWNERSHIP
CREATE TABLE dbo.Ownership(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdUser INT NOT NULL,
    IdGame INT NOT NULL,
    Date DATE NOT NULL,
    PlaytimeSeconds BIGINT NOT NULL
)
GO

-- REVIEW
CREATE TABLE dbo.Review(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdUser INT NOT NULL,
    IdGame INT NOT NULL,
    Rating DECIMAL(18,1) NOT NULL,
    Description VARCHAR(5000) NULL,
    PlaytimeSecondsAtPublish BIGINT NOT NULL
)
GO

-- USER X ACHIEVEMENT
CREATE TABLE dbo.UserXAchievement(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdUser INT NOT NULL,
    IdAchievement INT NOT NULL
)
GO

-- FOREIGN KEYS

ALTER TABLE dbo.Game
ADD FOREIGN KEY (IdPublisher) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.Achievement
ADD FOREIGN KEY (IdGame) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.Follow
ADD FOREIGN KEY (IdFollower) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.Follow
ADD FOREIGN KEY (IdFollowed) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.GamePictures
ADD FOREIGN KEY (IdGame) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.GameTagXGame
ADD FOREIGN KEY (IdGame) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.GameTagXGame
ADD FOREIGN KEY (IdTag) REFERENCES dbo.GameTags(Id)

ALTER TABLE dbo.MalwareScan
ADD FOREIGN KEY (GameId) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.Ownership
ADD FOREIGN KEY (IdUser) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.Ownership
ADD FOREIGN KEY (IdGame) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.Review
ADD FOREIGN KEY (IdUser) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.Review
ADD FOREIGN KEY (IdGame) REFERENCES dbo.Game(Id)

ALTER TABLE dbo.UserXAchievement
ADD FOREIGN KEY (IdUser) REFERENCES dbo.[User](Id)

ALTER TABLE dbo.UserXAchievement
ADD FOREIGN KEY (IdAchievement) REFERENCES dbo.Achievement(Id)
GO