USE [master]
GO
/****** Object:  Database [Indeura]    Script Date: 3/22/2026 8:13:28 PM ******/
CREATE DATABASE [Indeura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Indeura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Indeura.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Indeura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Indeura_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Indeura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Indeura]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Picture] [varchar](max) NULL,
	[IdGame] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFollower] [int] NOT NULL,
	[IdFollowed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPublisher] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[NumberOfAchievements] [int] NOT NULL,
	[GameName] [varchar](200) NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[PriceUSD] [decimal](18, 1) NOT NULL,
	[DiscountPercentage] [decimal](18, 1) NOT NULL,
	[ExecutableName] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePictures]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[IdGame] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTags]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTagXGame]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTagXGame](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGame] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdGame] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PlaytimeSeconds] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdGame] [int] NOT NULL,
	[Rating] [decimal](18, 1) NOT NULL,
	[Description] [varchar](5000) NULL,
	[PlaytimeSecondsAtPublish] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[verifyHash] [varchar](max) NULL,
	[Followers] [int] NOT NULL,
	[GamesOwned] [int] NOT NULL,
	[Followed] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ProfilePicture] [varchar](max) NULL,
	[Description] [varchar](300) NULL,
	[Email] [varchar](200) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[Verified] [bit] NOT NULL,
 CONSTRAINT [PK__User__3214EC07D56714F9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserXAchievement]    Script Date: 3/22/2026 8:13:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserXAchievement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdAchievement] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Achievement]  WITH CHECK ADD  CONSTRAINT [FK_Achievement_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK_Achievement_Game]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_UserFollowed] FOREIGN KEY([IdFollowed])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_UserFollowed]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_UserFollower] FOREIGN KEY([IdFollower])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_UserFollower]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_User] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_User]
GO
ALTER TABLE [dbo].[GamePictures]  WITH CHECK ADD  CONSTRAINT [FK_GamePictures_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GamePictures] CHECK CONSTRAINT [FK_GamePictures_Game]
GO
ALTER TABLE [dbo].[GameTagXGame]  WITH CHECK ADD  CONSTRAINT [FK_GameTagXGame_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GameTagXGame] CHECK CONSTRAINT [FK_GameTagXGame_Game]
GO
ALTER TABLE [dbo].[GameTagXGame]  WITH CHECK ADD  CONSTRAINT [FK_GameTagXGame_Tag] FOREIGN KEY([IdTag])
REFERENCES [dbo].[GameTags] ([Id])
GO
ALTER TABLE [dbo].[GameTagXGame] CHECK CONSTRAINT [FK_GameTagXGame_Tag]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Game]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_User]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Game] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Game]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[UserXAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserXAchievement_Achievement] FOREIGN KEY([IdAchievement])
REFERENCES [dbo].[Achievement] ([Id])
GO
ALTER TABLE [dbo].[UserXAchievement] CHECK CONSTRAINT [FK_UserXAchievement_Achievement]
GO
ALTER TABLE [dbo].[UserXAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserXAchievement_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserXAchievement] CHECK CONSTRAINT [FK_UserXAchievement_User]
GO
USE [master]
GO
